
body{
    background-image: url("./images/sun-came-through-tree-leaves-beautiful-green-nature-sunshine_77829-156.jpg");
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.row {
    margin: 0;
}
.col-lg-6{
    padding: 0;
}
#app{
    width: 100%;
    min-height:100vh;
    background: #00000098;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
}
#app .container{
    max-width: 80%;
}
.headline{
    display: flex;
    background-color: rgba(255, 255, 255, 0.685);
    align-items: center;
    color: rgb(26, 26, 26);
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.headline h1 {
    position: relative;
    margin-left: 2rem;
    font-size: 3rem;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveRight{
    0%{opacity: 0; left: 20px;}
    100%{opacity: 1; left: 0;}
}
.headline .img-container{
    position: relative;
    width: 20%;
    height: 130px;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} 
@keyframes moveLeft{
    0%{opacity: 0; left: -20px;}
    100%{opacity: 1; left: 0;}
}
.img-container img{
 width: 100%; 
 height: 100%;  
}

.form {
    position: relative;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.form-control{
    font-weight: 100 !important;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    background-color:   transparent;
    letter-spacing: 2px;
}
.form-control::placeholder{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 100;
color: white;
}
.form-control:focus{
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 5px 3px rgb(241, 240, 240);
    color: white;
}
.btn-dark{
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.data{
    position: relative;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border:  1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.301);
    justify-content: center;
    
}
#content{
    font-size: 3rem;
}
#date {
    font-size: 3rem;
}
#temp{
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    font-size: 3rem;
}

/* media query set */

@media (min-width : 1100px) {
    .col-lg-6{
        max-width: 48%;
        
    }
}
